{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - SleekRecipes{% endblock %}

{% block content %}
<div class="min-h-screen bg-[url('{% static 'images/ru.jpg' %}')] bg-center bg-cover flex items-center justify-center px-5">
    <div class="text-black bg-white bg-opacity-70 p-10 rounded-lg shadow-lg max-w-4xl">
        <h1 class="text-6xl font-semibold leading-normal">About Us</h1>
        <p class="mt-5 text-lg">
            Welcome to SleekRecipes, your number one source for quick and delicious recipes. We're dedicated to providing you the best of culinary experiences, with a focus on taste, simplicity, and speed.
        </p>
        <p class="mt-5 text-lg">
            Founded in 2024, SleekRecipes has come a long way from its beginnings. When we first started out, our passion for quick and easy cooking drove us to start our own business.
        </p>
        <p class="mt-5 text-lg">
            We hope you enjoy our recipes as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
        </p>
        <p class="mt-5 text-lg">
            Sincerely, <br>
            The SleekRecipes Team
        </p>
    </div>
</div>
{% endblock %}
