{% load static %}

{% block head %}
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            font-family: 'poppins', sans-serif;
        }
    </style>
{% endblock %}
<body class="bg-black text-white">
    <header class="bg-black p-5">
        <nav class="flex items-center">
            <img src="{% static 'images/cart.png' %}" alt="image" class="w-7 h-7 cursor-pointer">
            <ul class="flex ml-auto">
                <li class="list-none inline-block px-5"><a href="{% url 'home' %}" class="no-underline text-white px-2">Home</a></li>
                <li class="list-none inline-block px-5"><a href="{% url 'about' %}" class="no-underline text-white px-2">About</a></li>
                <li class="list-none inline-block px-5"><a href="{% url 'features' %}" class="no-underline text-white px-2">Features</a></li>
                <li class="list-none inline-block px-5"><a href="{% url 'contact' %}" class="no-underline text-white px-2">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="flex-1">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-black p-5 mt-10">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 SleekRecipes. All rights reserved.</p>
        </div>
    </footer>
</body>